<link rel="stylesheet" href="/css/products.css" />
<nav>
    <div class="navContainer">
        <div class="homeContainer">
            <img src="https://i.imgur.com/WVX7g9b.png"
            alt="Home" onclick="goToHomeView()" style="width: 30px; height: 30px" />
        </div>
        <div class="logoutContainer">
            <a href="/logout">¡Cerrar sesion!</a>
        </div>
        <div class="cartContainer">
            <img src="https://cdn-icons-png.flaticon.com/512/107/107831.png?w=826&t=st=1687022573~exp=1687023173~hmac=8843dd8bcb9c768f3894e8de18166759c010392f4be7bfbbd4bc8d919e06bd75"
            alt="Carrito" onclick="goToCartView()" style="width: 30px; height: 30px" />
        </div>
    </div>
</nav>
<main>
    <div class="productCardInput">
    <h3>{{product.title}}</h3>
    <ul style="list-style: none">
        <li>Description: {{product.description}}</li>
        <li>Code: {{product.code}}</li>
        <li>Price: {{product.price}}</li>
        <li>Status: {{product.status}}</li>
        <li>Stock: {{product.stock}}</li>
        <li>Category: {{product.category}}</li>
        <li>Thumbnails: {{product.thumbnails}}</li>
    </ul>
        <input type="button" id="viewProductBtn" class="productBtn" value="Volver al listado"
            onclick="goToProductView('')" />
        <input type="button" id="addToCartBtn" class="productBtn" value="Agregar al carrito"
            onclick="addProductToCart('{{product.id}}')" />
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/products.js"></script>